

body {background-color: #faf0e6;}

.projects {
    padding: 20px;
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
    padding: 0 20px; 
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left; 

    padding: 15px;
    transition: box-shadow 0.3s; 
}

.project:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
}
.project h3 {
    font-weight: bold;
    margin-top: 0; 
}

.project p {
    margin-bottom: 10px; 
}


@media (max-width: 800px) {
    .project-grid {
        grid-template-columns: 1fr 1fr; 
    }
}

@media (max-width: 600px) {
    .project-grid {
        grid-template-columns: 1fr; 
    }
}

.bolded {
    font-weight: bold;
    font-size: 50px;
}

.contact-info {
}

.education h2, .work-exp h2, .about-me, header, .contact-info, .education-entry, .program-info, .section-entry {
    font-weight: bold;
    text-align: center;


}

.section-divider {
    border-color: #ddd;
    margin: 20px 0; 
}

.github-icon {
    width: 24px; 
    height: 24px; 
    margin: auto;
    display: block;
}

.centered-list {
    width: fit-content; 
    margin-left: auto;
    margin-right: auto;

    list-style-type: none; 
    padding: 0;
}


.thumbnails {
    margin: auto;
    display: block;
    width: 200px;
    height: 200px;
  }
